* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;   /* deixa o header com espaço bonito */
}

/* Logo */
.logo-container img {
  height: 80px;     /* ajuste o tamanho que quiser */
  width: auto;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
}

/* Menu */
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  padding: 8px 14px;     
  border-radius: 6px;   
  transition: 0.3s ease;
}

/* Hover */
.menu li a:hover {
  color: #fff;
  transform: scale(1.08);
  background-color: #d2691e;
}

.destaque {
    position: relative;
    background-image: url("imagem_fundo_padaria.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.destaque::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); 
}

/* Texto da frase */
.frase_padaria {
    position: relative; 
    color: white;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
}

/* 
.destaque h1 {
  font-family: "Arial", sans-serif;
  font-size: 3em;
  color: #d2691e;
  margin-bottom: 20px;
  font-weight: bold;
} */

/* .destaque p {
  font-family: "Georgia", serif;
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  margin: 20px 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
} */

.destaque img {
  width: 70%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 20px;
}

.destaque-resumo {
  display: flex;
  align-items: center;
}
/* 
.cardapio {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardapio h2 {
  font-family: "Arial", sans-serif;
  font-size: 2em;
  color: #d2691e;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.cardapio h3 {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.cardapio img {
  width: 70%;
  max-width: 900px;
  border-radius: 10px;
}

.card h4 {
  font-family: "Arial", sans-serif;
  color: #d2691e;
}

.card-food {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
*/




/* ====== CARDÁPIO ====== */

.cardapio {
  padding: 40px;
  display: flex;
  flex-direction: column; /* categorias uma embaixo da outra */
  gap: 40px;
}

.categoria h3 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;        /* permite quebrar linha */
  justify-content: center;
  gap: 20px;              /* espaço entre cards */
}

.card-food {
  width: 250px;
  text-align: center;
}

.card-food img {
  width: 250px;      
  height: 180px;     
  object-fit: cover; 
  border-radius: 10px;

}

.card-food h4 {
  margin-top: 10px;
  color: #d2691e;   
  font-weight: bold;
  font-size: 1.2rem;
}


footer {
  background-color: #d2691e;
  color: white;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.contatos {
  display: flex;
  flex-direction: row; 
  margin-bottom: 10px;
}


.container-link {
  text-decoration: none;
  color: inherit;
}


.card-contato {
  background: white;
  color: #d2691e;
  padding: 8px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.card-contato img {
  width: 20px;
  height: 20px;
}

.card-contato:hover {
  transform: scale(1.08);
  background: #f0e0d0;
}


.insta:hover {
  background: #d6249f;
  color: white;
}

.whatsapp:hover {
  background: #25d366;
  color: white;
}
